footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 0.09rem solid #8e8e8e;
    padding: 2%;
    gap: 10%;
}

.iconoInfo {
    display: flex;
    margin: 2%;
    gap: 5%;
    font-size: small;
}
#ContactInfo {
    width: 25vw;
}

.iconoInfo img {
    width: 1em;
}

.socialImg {
    width: 4vw;
}

#copy {
    margin-top: 3%;
}
