*{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
            
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh ;
    position: fixed;
    background-color: white;
    top: 0;
    box-shadow: 1px 1px 10px #aeaeae;
}

#logo {
    height: 6vh;
    margin: 1%;
}

nav {
    display: flex;
    align-items: center;
    width: 80vw;
    justify-content: right;
    font-size: 2.4vh;
    margin-right: 0;
}

.leftRigth {
    margin-right: 2%;
}

#downArrow {
    height: 1vh;
    width: auto;
    margin-right: 2%;
}

#download {
    padding: 0.3% 3%;
    border-style: solid;
    border-width: 0.2em;
    border-radius: 4em;
    border-color: rgb(255, 76, 100);
    color:rgb(255, 76, 100);
}

#first {
    margin: 20vh 0;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#title p {
    text-align: center;
    margin: 2vh auto 2vh;
    padding: 0 4.5% 0;
    font-size: 0.74em;
}

#title h1 {
    font-size: 2.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5vw;
    
}

#downloadApple {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4em;
    background-color: rgb(255, 75, 109);
    width: 18em;
    height: 4.7em;
    font-size: 0.5em;
    padding: 0.5em 1em;
    color: white;
}

#downloadApple img {
    width: 1.8em;
    height: 1.8em;
    margin-right: 5%;
}

#downloadAndroid {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4em;
    background-color: rgb(255, 75, 109);
    width: 18em;
    height: 4.7em;
    font-size: 0.5em;
    padding: 0.5em 1em;
    color: white;
}
#downloadAndroid img {
    width: 1.8em;
    height: 1.8em;
    margin-right: 5%;
}

#mainImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
}

#smartphone {
    width: 50vw;
}

#features {
    display: flex;
}

.iconText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    font-weight: 900;
}

.featuresImg {
    margin: 5vh 5vw 1vh;
}

#img1 {
    background-color: #E8E3F9;
    border-radius: 50em;
    width: 7vw;
    padding: 5%;
}

#img2 {
    background-color: #D5F2ED;
    border-radius: 50em;
    width: 7vw;
    padding: 7%;
}

#img3 {
    background-color: #F7E1E7;
    border-radius: 50em;
    width: 7vw;
    padding: 8%;
}

#img4 {
    background-color: #F7EFD9;
    border-radius: 50em;
    width: 7vw;
    padding: 8%;
}

#img5 {
    background-color: #DDF0F9;
    border-radius: 50em;
    width: 7vw;
    padding: 6%;
}

.iconText p {
    font-size:small;
}